body, html{
	padding: 0;
	margin: 0;
	background: #F9F9F9;
	height: 100%;
	width: 100%;
	font-family: 'Great Vibes', cursive;
	background-image: url(eddiep120.github.io/edventurecollage.PNG);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;

}
nav {
	text-align: right;
	right: 30px;
	margin: 20px;
}

a {
	text-decoration: none;
	color: black;
}
.button {
	background: #e7e7e7;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	cursor: pointer;
}
.button:hover {
	background: #D9D9D9;
	box-shadow: 2px 2px  #e7e7e7 inset;
}
#main {

	margin: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 100px 0;
}

.rsvp-form {
  position: relative;
	padding-top: 56.25%;
	height: 100vh;
	text-align: center;
}
.rsvp-form iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
@media (max-width: 425px){
		.button {
		font-size: 12px;
		padding: 5px 10px;
		border-radius: 2px;
		margin: 2px 1px;
	}
	.rsvp-form {
		max-width: 300px;
		width: 100%;
		font-size: 20px;
	}
	nav {
		text-align: center;
	}

	#main {
		padding: 0;
		display: flex;
		justify-content: center;
	}
}
